body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-image: url("./img/COVID19-image-1-1650x550.jpg");
}
#title {
  /* height: 5vh; */
  /* padding-top: 60px; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(223, 72, 92);
  text-shadow: 2px 2px black;
  font-size: 40px;
}

.conatiner {
  display: inline-block;
  margin: 5px;
}

.contCovid {
  height: 5vh;
}
#myChart {
  width: 70vw;
  height: 70vh;
  position: flex;
}

.btn-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 2px;
  width: 50%;
}

.btn {
  margin: 5px;
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  border-radius: 50px;
}
.btn:focus {
  background-color: rgb(223, 72, 92);
}
